table, th, td {
    border: solid black 3px;
}

.background .content {
    display: none;
}

.background.active {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.45);
    width: 100vw;
    height: 100vh;
}

.background.active > .content{
    position: relative;
    display: block;
    z-index: 1;
    width: 70vw;
    height: 50vh;
   margin: 0 auto;
    top: 30%;
    background-color: rgba(215, 169, 69, 0.90); /*   (215, 169, 69, 1)     (38, 180, 142, 0.9)*/
    text-align: center;
    padding: 10px;
}
#popupButton{
    position: absolute;
    padding-top: 3px;
    bottom: 10px;
    left: 42%;
}
.tableWithHeader{
    max-width: 75%;
    margin: 0 auto;
    border: 3px solid black;
}
.tableHeader{
    width: 100%;
    text-align: center;
    /*border: 3px solid black;*/
}
#table{
    width: 100%;
    margin: 0 auto;

}

#popupTextarea{
    overflow-y: scroll;
    width: 90%;
    height: 80%;
    resize: none; /* Remove this if you want the user to resize the textarea */
}